<!doctype html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>



</head>


<body>
    <div class="container-fluid">




    <main class="form-signin w-100 m-auto">
        {% block content %}
        {% endblock %}
    </main>
    
</body>

</html>