<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <style>
    


    a {
        text-decoration: none;
        color: white
    }

    a:hover {
        text-decoration: underline;
   }

   
   

   </style>
   
</head>

<body>
    <div role="menu" class="container-fluid">
        <nav role="navigation" class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container">
                <b><a href="{% url 'dashboard' %}" class="nvbar-link" id="dashboard"
                    >Dashboard</a></b>
                <b><a href="{% url 'sol_list' %}" class="nvbar-link" id="solicita"
                >Solicitação</a></b>
                <!--  <a href="#" class="nvbar-link" >Tramitação</a>                                      -->
                <b><a href="{% url 'evento_lista' %}" class="nvbar-link" id="eventos"
                >Eventos</a></b>
                <b><a href="{% url 'lista_historico' %}" class="nvbar-link" id="consultas"
                >Consultas</a></b>
                <b><a href="{% url 'cadastros_lista' %}" class="nvbar-link" id="cadastros"
                >Cadastros</a></b>
                <b><a href="{% url 'acesso_negado' %}" class="nvbar-link" id="auditoria"
                >Auditoria</a></b>
                <b><a href="{% url 'logout' %}" class="nvbar-link">Sair</a></b>
            </div>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
   
</body>


</html>