{% extends "web_project/base.html" %}
{% block title %}
asdsd
{% endblock %}
{% block content %}

<div class="row mt-3">
  <p>Apenas Solicitações com eventos</p>
</div>
<div class="accordion" id="accordionExample">
  {% for solicitacao in object_list %}
  {% if solicitacao.evento_registro_count > 0 %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="#{{solicitacao.id}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{solicitacao.id}}"
        aria-expanded="true" aria-controls="#{{solicitacao.id}}">
        {{ solicitacao.nome_reduzido }}: {{ solicitacao.evento_registro_count }}
        evento{{solicitacao.evento_registro_count|pluralize}}
      </button>
    </h2>
    <div  id="{{solicitacao.id}}" class="accordion-collapse collapse" aria-labelledby="#{{solicitacao.id}}"
    data-bs-parent="#accordionExample">
    <div class="accordion-body" style="height: auto;">
    {% for eventoregistro in solicitacao.eventoregistro_set.all|dictsort:'data_evento' %}
    <div class="row">
       Data do Evento: {{ eventoregistro.data_evento|date:'d/m/y'}} {{ eventoregistro.data_evento|time:'H:i'}}
        Evento: {{ eventoregistro.tipo_evento}}
        Descrição: {{ eventoregistro.descricao}}
        Documento: {{ eventoregistro.documento}}
        Responsável: {{ eventoregistro.responsavel}}
    </div>
    {% endfor %} 
      </div>
    </div>
  </div>
  {%endif %}
  {% endfor %}
  {% endblock %}