{% extends "web_project/base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% if True %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#modal").modal('show');
    });
  </script>
{% endif %}
<div class="modal" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Acesso Negado.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Aqui estão todos os registros efetuados no banco de dados.</p>
        <p>Criações, Atualizações e Exclusões.</p>
        <p class="text-danger">Somente Administradores tem acesso.</p>
      </div>
      <div class="modal-footer">
        <a href="{%url 'dashboard' %}" type="button" class="btn btn-secondary">Fechar</a>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
